{% extends "headerGeneral.html" %}
{% block content %}
    <div class="intro-section" id="home-section">

      <div class="slide-1" style="background-image: url('../static/images/hero_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                {% for chat in chats %}
                  <div class="col-lg-12">
                  <div class="form-box">
                    <h3 class="h4 text-black mb-4">{{ chat.0 }}</h3>
                    <div class="form-group">
                        <div class="form-control">{{ chat.1 }}</div>
                    </div>
                    <div class="form-group">
                        <div class="form-control">{{ chat.2 }}</div>
                    </div>
                  </div>

                </div>

                  {% endfor %}
                <div class="col-lg-12">
                  <form action="/forum/{{ course_id }}" method="post" class="form-box">{% csrf_token %}
                    <h3 class="h4 text-black mb-4">Ask your query</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" name="message" placeholder="Enter Your Message" required>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-pill" value="Ask your query" required>
                    </div>
                  </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}

