<html>
        <head>
                <meta charset="utf-8">
                <title>CKEditor</title>
                <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
		</head>
        <body>
            <form action="/test/" method="post">{% csrf_token %}
                <textarea id = "vinal" name="editor1"></textarea>
				<div id="mohit"></div>
                <script>
					CKEDITOR.replace( 'editor1' );                
				</script>
                <input type="submit">
            </form>
        </body>
</html>