{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>403 Invalid Credentials</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="404 Error Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- /css files -->
<body style = "background: linear-gradient(#2e9028, #2e9028) !important;">
<div class="agileits-main">
	<a href="#"><h1><span>Successful</span>Pariksha</h1></a>
	<div class="w3ls-container text-center">
		<h3 class="img-txt">Hurreh, an sucessful event!</h3>

            <p>Successful Event Occured</p>
            <div class="agileits-link">
			<a href="http://127.0.0.1:8000/">take me home</a>
		    </div>
	</div>
	<div class="w3ls-footer">
		<p> &copy; 2020 Successful event. All Rights Reserved | Design by <a href="http://127.0.0.1:8000/" target="=_blank">Pariksha</a></p>
	</div>

</div>
</body>
</html>