{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}

{#</head>#}
{##}
{#<!--countdown function is called when page is loaded -->#}
{#<body onload="countdown();">#}
{#<input id = "timer" type="text" value = "{{ exam.0 }}" hidden>#}

{##}
{#<form method="post" action="/submitTest/{{ exam_id }}">{% csrf_token %}#}
{#    <p id="errordiv" style="color:red"></p>#}
{#    {% for q in questions %}#}
{#        <div id = "'ques_no'+{{ q.0 }}">.&nbsp;{{ q.1 }}</div>#}
{#        <script type="text/javascript">#}
{#            var c = getcount();#}
{#            var qele = document.getElementById("'ques_no'+{{ q.0 }}");#}
{#            qele.innerText = c+qele.innerText;#}
{#        </script>#}
{#        <div >Marks: {{ q.3}}</div>#}
{#        <div id="{{ q.0 }}+ '_' +{{ q.4 }}"></div>#}
{#        <script type="text/javascript">#}
{#            getType("{{ q.0 }}+ '_' +{{ q.4 }}",{{ q.2 |safe|escape}},'{{ q.4 }}');#}
{#        </script>#}
{#        id,question,options,marks,`type`#}
{#    {% endfor %}#}
{#    <button type = "submit">Submit Test</button>#}
{#</form>#}
{##}
{#</body>#}
{##}
{#</html>#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual विद्यालय</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <style>
          .circle {
              width: 145px;
              height: 145px;
              line-height: 50px;
              border-radius: 50%;
              font-size: 10px;
              color: BLACK;
              text-align: center;
              background: #7971ea;
          }
      </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function myfunct(){
            document.getElementById("stopButton").click();
        }
    </script>
    <script>
        var count = 0;
        $(document).ready(function () {
            // Disables ctrl+v, ctrl+x, ctrl+c.
            $('body').on("cut", function (e) {
                $("#errordiv").text('cut. not allowed!');
                e.preventDefault();
            });
            $('body').on("copy", function (e) {
                $("#errordiv").text('copy. not allowed!');
                e.preventDefault();
            });
            $('body').on("paste", function (e) {
                $("#errordiv").text('paste. not allowed!');
                e.preventDefault();
            });
            // Disables right-click.
            $('body').mousedown(function (e) {
                if (e.button === 2) {
                    e.preventDefault();
                    $("#errordiv").text('right-click is disabled!');
                }
            });
        });

        //set minutes

        var mins = 0;

        //calculate the seconds
        var secs = 0;
        //countdown function is evoked when page is loaded
        function countdown() {
            mins = (document.getElementById("timer").value);
            secs = mins*60;
            setTimeout('Decrement()', 60);
        }
        //Decrement function decrement the value.
        function Decrement() {
            if (document.getElementById) {
                minutes = document.getElementById("minutes");
                seconds = document.getElementById("seconds");
                //if less than a minute remaining Display only seconds value.
                if (seconds < 59) {
                    seconds.value = secs;
                }
                //Display both minutes and seconds
                //getminutes and getseconds is used to get minutes and seconds
                else {
                    minutes.value = getminutes();
                    seconds.value = getseconds();
                }
                //when less than a minute remaining colour of the minutes and seconds changes to red
                if (mins < 1) {
                    minutes.style.color = "red";
                    seconds.style.color = "red";
                }
                //if seconds becomes zero, then page alert time up
                if (mins < 0) {
                    alert('time up');
                    {#window.location.href = "/submitTest/";#}
                    minutes.value = 0;
                    seconds.value = 0;
                    $("#submitButton").click();
                }
                //if seconds > 0 then seconds is decremented
                else {
                    secs--;
                    setTimeout('Decrement()', 1000);
                }
            }
        }
        function getminutes() {
            //minutes is seconds divided by 60, rounded down
            mins = Math.floor(secs / 60);
            return mins;
        }

        function getseconds() {
            //take minutes remaining (as seconds) away from total seconds remaining
            return secs - Math.round(mins * 60);
        }

       $(window).blur(function () {
             if ($('html').is(':focus')) {
                // dont check tab switching
            }
            else {
                count++;
                if (count == 5){
                     window.location.href = '/endTest/';
                }
                else if (count == 4){
                    alert('You are not allowed to leave page if you leave again then test ends');
                }
             }

        });
        var cnt = 0;
        function getcount(){
            cnt++;
            return cnt;
        }
        function getType(ele,options,type) {

            ele = document.getElementById(ele);
            console.log(ele,options,type);
            switch(type) {
                case  'True/False':
                    ele.innerHTML= 'Answer ' + cnt + '\n' +
                    '            <input class = "form-control" type="radio" name="true_false_ans_' + cnt + '" value="True">True<br>\n' +
                    '            <input  class = "form-control" type="radio" name="true_false_ans_' + cnt + '" value="False">False\n';
                    break;
                case  'MCQ':
                    ele.innerHTML= 'Answer ' + cnt + '\n' +
                    '            <input  class = "form-control" type="radio" id= "option1_' + cnt + '"name="mcq_ans_' + cnt + '" value =' +options[1]+'>' + options[1] + '\n' +
                    '            <input  class = "form-control" type="radio" id= "option2_' + cnt + '"name="mcq_ans_' + cnt + '" value ='+ options[2]+'>' + options[2] + '<br>\n' +
                    '            <input  class = "form-control" type="radio" id= "option3_' + cnt + '"name="mcq_ans_' + cnt + '" value =' +options[3]+'>' + options[3] + '<br>\n' +
                    '            <input  class = "form-control" type="radio" id= "option4_' + cnt + '"name="mcq_ans_' + cnt + '" value ='+ options[4]+'>' + options[4] + '\n';
                    break;
                case  'One Word Answer':
                    ele.innerHTML= 'Answer ' + cnt + '\n' +
                    '            <input  class = "form-control" type="text" name="one_word_' + cnt + '" placeholder="One Word Only">\n';
                    break;
                case  'Short Answer':
                    ele.innerHTML= 'Answer ' + cnt + '\n' +
                    '            <textarea  class = "form-control" name="short_ans_' + cnt + '" placeholder="Short Answer"></textarea>';
                    CKEDITOR.replace("short_ans_" + cnt);
                    break;
                case  'Descriptive Answer':
                    ele.innerHTML= '<h4>Answer ' + cnt + '</h4>\n' +
                    '            <textarea  class = "form-control" name="descriptive_ans_' + cnt + '" placeholder="Descriptive Answer"></textarea>';
                    CKEDITOR.replace("descriptive_ans_" + cnt);
                    break;
            }
        }
    </script>
  </head>
  <body onload="countdown();">
    <input id = "timer" type="text" value = "{{ exam.0 }}" hidden>
    <div class="circle"  style="color:#7971ea;position: absolute;left:5px">
        <div style="position: absolute;top: 50px;left: 5px;background: transparent;"><h2><input id="minutes" type="text" style="width: 60px;
                border: none;background: transparent;
                font-weight: bolder; color: black; " readonly><span style="color: BLACK">:</span>
        <input id="seconds" type="text" style="width: 60px;background: transparent;
                            border: none; font-weight: bolder; color: black;" readonly>
        </h2></div>
    </div><br><br><br><br>
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
      <div style="position: absolute;left:45%;top:10px"><h2 style="font-weight: bolder">{{ exam.2 }}</h2></div>
  <div style="position: fixed;right: 0;top:10px" class="sticky-top">
        <video class="sticky-top" id="preview" width="160" height="120" autoplay muted></video>
        <p id="errordiv" style="color:red"></p>
    </div>

    <div class="right">
        <button id="stopButton" style = "display: none;">
            Stop
        </button>

        </div>
        <video id="recording" style = "display: none;" width="160" height="120" controls></video>
       <!--  <button id = "download"> -->
            <a id="downloadButton" style = "display: none;" >
        Download
        </a>
        <!-- </button> -->

    </div>
      <div class="intro-section" id="home-section">

      <div  data-stellar-background-ratio="0.5">
        <div class="container">

            <form action="/submitTest/{{ exam_id }}" method="post" class="form-box">{% csrf_token %}

          <div class="row align-items-center">
              {% for q in questions %}
                <div class="col-lg-12 align-items-center justify-content-center text-center">
              <div class="row align-items-center">
                <div class="col-lg-12 center"  style="border-style: solid;
  border-width: 2px 10px 4px 20px;border-color: #7971ea;">
                    <div id="'ques_no'+{{ q.0 }}">.&nbsp;{{ q.1 }}</div>
                     <script type="text/javascript">
                        var c = getcount();
                        var qele = document.getElementById("'ques_no'+{{ q.0 }}");
                        qele.innerText = c+qele.innerText;
                    </script>
                    <div style="position: relative;right: 0">Marks: {{ q.3}}</div>
                    <div id="{{ q.0 }}+ '_' +{{ q.4 }}"></div>
                    <script type="text/javascript">
                        getType("{{ q.0 }}+ '_' +{{ q.4 }}",{{ q.2 |safe|escape}},'{{ q.4 }}');
                    </script>
                </div>
              </div>
            </div>
                  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

              {% endfor %}
           <div class="form-group">
                    <button id="submitButton" class="btn btn-primary btn-pill">Submit</button>
                    </div>
          </div>
                </form>
        </div>
      </div>
    </div>




  </div> <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>


  <script src="{% static 'js/main.js' %}"></script>

  <script>

    let preview = document.getElementById("preview");
    let recording = document.getElementById("recording");
    let startButton = document.getElementById("startButton");
    let stopButton = document.getElementById("stopButton");
    let downloadButton = document.getElementById("downloadButton");
    let logElement = document.getElementById("log");

    let recordingTimeMS = 5000;


    function log(msg) {
        //logElement.innerHTML += msg + "\n";
    }

    function wait(delayInMS) {
        return new Promise(resolve => setTimeout(resolve, delayInMS));
    }

    function startRecording(stream, lengthInMS) {
        let recorder = new MediaRecorder(stream);
        let data = [];

        recorder.ondataavailable = event => data.push(event.data);
        recorder.start();
        log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

        let stopped = new Promise((resolve, reject) => {
        recorder.onstop = resolve;
        recorder.onerror = event => reject(event.name);
        });

        let recorded = wait(lengthInMS).then(
        () => recorder.state == "recording" && recorder.stop()
        );

        return Promise.all([
            stopped,
            recorded
        ])
        .then(() => data);
    }

    function stop(stream) {
        stream.getTracks().forEach(track => track.stop());
    }

    // startButton.addEventListener("click", function() {
        navigator.mediaDevices.getUserMedia({
            video: true,
            audio: false
        }).then(stream => {
                preview.srcObject = stream;
                downloadButton.href = stream;
                console.log(downloadButton.href);
                preview.captureStream = preview.captureStream || preview.mozCaptureStream;
                return new Promise(resolve => preview.onplaying = resolve);
              })
        .then(() => startRecording(preview.captureStream(), recordingTimeMS))
              .then (recordedChunks => {
                let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
                recording.src = URL.createObjectURL(recordedBlob);
                downloadButton.href = recording.src;
                // var canvas = document.createElement("canvas");
                // var context = canvas.getContext("2d");
                // context.drawImage(recording, 0, 0); // i assume that img.src is your blob url
                // var dataurl = canvas.toDataURL('image/webp');
                // console.log(dataurl);

                downloadButton.download = "RecordedVideo.webm";

                console.log("Successfully recorded " + recordedBlob.size + " bytes of " +
                    recordedBlob.type + " media.");
                log("Successfully recorded " + recordedBlob.size + " bytes of " +
                    recordedBlob.type + " media.");
                var xhr = new XMLHttpRequest;
                xhr.responseType = 'blob';

                xhr.onload = function() {
                   var recoveredBlob = xhr.response;

                   var reader = new FileReader;

                   reader.onload = function() {
                     var blobAsDataUrl = reader.result;
                     window.location = blobAsDataUrl;
                   };

                   reader.readAsDataURL(recoveredBlob);
                };

                xhr.open('GET', recording.src);
                xhr.send();
              })
              .catch(log);
        // }, false);


        stopButton.addEventListener("click", function() {
        stop(preview.srcObject);
        }, false);

    </script>

  </body>
</html>